extends layout

block content
  .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          h2 Welcome to my test node.js project!
          p This is website developed on Node.js, Express.js, MongoDB and other related technologies.
          p It was created as demonstraition of my skills for the potential employer.
          p Used technologies:
          ul
            li Node.js 6
            li Express.js
            li MongoDB
            li Pug
            li Bootstrap
            li Passport
            li Mongoose
          if error && error.length > 0
            p= 'Error: ' + error