include includes/head
body
  block header
    include includes/header
  // Main Content
  block content
  hr
  // Footer
  block footer
    footer
      include includes/footer
  // jQuery
  script(src='/javascripts/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/javascripts/bootstrap.min.js')
  // Contact Form JavaScript
  script(src='/javascripts/jqBootstrapValidation.js')
  script(src='/javascripts/contact_me.js')
  // Theme JavaScript
  script(src='/javascripts/clean-blog.min.js')
